body {
  margin: 0;
  padding: 0;
  font-family: adobe-garamond-pro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 180px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  flex-direction: column;
}
.welcome {
  background: #e0ebe8;
  flex-direction: column;
  align-items: center;
}
.skills {
  flex-direction: column;
  align-items: center;
}
.logo {
  background-size: cover;
  width: 150px;
  height: 150px;
  margin: 10px;
}

.h1 {
  font-size: 220%;
  color: #3c9c88;
  margin: 1px;
}
.h2 {
  font-size: 190%;
  color: #45b29a;
  margin: 15px;
}
.land {
  width: 100%;
  margin-top: 30px;
}
.me {
  width: 300px;
  height: 600px;
  margin: 40px;
}
.row-pic {
  width: 150px;
  height: 150px;
  margin: 30px;
}
.header {
  width: 100%;
}
.text1 {
  font-size: 150%;
  color: #45b29a;
}
.text2 {
  font-size: 130%;
  max-width: 460px;
}
.text3 {
  font-size: 130%;
  max-width: 460px;
  text-align: center;
}
.row {
  max-width: 940px;
  flex-wrap: wrap;
  justify-content: center;
}
div {
  display: flex;
}
.column {
  flex-direction: column;
}
@media only screen and (max-width: 686px) {
  .column {
    align-items: center;
  }
  .text2 {
    text-align: center;
  }
}
#root {
  display: block;
}
.message-me {
  max-width: 600px;
  width: 100%;
  background-color: #45b29a;
  color: #1b7f69;
  text-decoration: none;
  text-align: center;
  font-size: 130%;
  padding: 10px;
  margin-top: 40px;
}
.footer {
  background-color: #e0ebe8;
  align-items: center;
  margin-top: 120px;
  flex-direction: column;
  justify-content: center;
}
.link {
  color: #45b29a;
  text-decoration: none;
  margin: 3px;
  font-size: 130%;
  padding: 20px;
}
.links {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.rights-link {
  text-decoration: underline;
  color: black;
}
#space {
  padding-top: 100px;
  padding-bottom: 40px;
}
